<form action="../Home/Person" method="post">
    <p>
        <label for="i" class="col-md-2 col-xs-12">Search By Person</label>
        <input type="number" name="i" value="" placeholder="Person ID" class="col-md-3 col-xs-12" />
        <input type="submit" name="submit" value="Get Person" />
    </p>
</form>

<form action="../Home/Planet" method="post">
    <label for="i" class="col-md-2 col-xs-12">Search By Planet</label>
    <p><input type="number" name="i" value="" placeholder="Planet ID" class="col-md-3 col-xs-12" /></p>
    <p><input type="submit" name="submit" value="Get Planet" /></p>
</form>