@model StarWars.Models.Planet


<style>
    body {
        background-color: hsl(0, 85%, 43%);
    }

    .info {
        background-color: white;
        text-align: center;
        margin: 20px 0 0 0;
        font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
</style>
<div class="container-fluid">
    <div class="info col-md-5 col-xs-10">
        <h3>Plant: @Model.Name</h3>
    </div>
</div>

